<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JluanBBS</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="background-color: #ffc107">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">jluanBBS</a>
        <div class="my-2 my-sm-0">
            <a href="login" class="btn btn-outline-success" role="button">登陆
            </a>
            <a href="registration.html" class="btn btn-outline-success" role="button">注册
            </a>
        </div>
    </nav>
</div>
</body>
</html>