<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JluanBBS</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="background-color: #ffc107">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">jluanBBS</a>
        <div class="my-2 my-sm-0">
            <p>欢迎您，管理员</p>
            <a href="/" class="btn btn-outline-success" role="button">登出
            </a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">


        <a href="userMgr.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">管理用户名单</a>
        <a href="plateMgr.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">管理板块内容</a>
        <a href="plateMgr.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">管理发帖内容</a>
        <div class="col-md-8 " style="height: 900px;">

        </div>
        <div class="col-md-4" style="height: 300px;">

        </div>

    </div>
</div>


</body>
</html>