<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JluanBBS</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body onload="getPosts(9)">
<div class="container-fluid" style="background-color: #ffc107" data-th-replace="fragments/navigator::nav">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 " style="height: 900px;" id="plateList">
        </div>
        <div class="col-md-4" style="height: 300px;">
            <div class="col" style="height: 50px">
                <a th:href="@{/addNewPost}" class="btn btn-primary btn-block" role="button">发帖</a>
            </div>
            <div class="col" style="height: 300px">
                <button type="button" class="btn btn-outline-info btn-block disabled">板块</button>
                <tr th:each="plate:${plateList}">
                    <td>
                        <a th:onclick="'javascript:getPosts('+${plate.plateId}+');'" class="btn btn-outline-success" role="button"
                           th:text="${plate.plateName}"></a>
                    </td>
                </tr>
            </div>
        </div>
    </div>
</div>
<script>
    function getPosts(plateId) {
        var url = '/plate/'+plateId;
        $("#plateList").load(url);
    }
</script>
</body>
</html>