<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid" style="background-color: #ffc107">
    <nav class="navbar">
        导航栏
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 " style="height: 900px;">
            <ul class="list-group">
            <li class="list-group-item" th:each="post:${posts}">
                <div>
                    <div>
                        <a class="mb-1" th:text="${post.postTopic}"></a>
                    </div>
                    <div>
                        <span class="small" th:text="${post.userId}"></span>
                        <span class="small" th:text="${post.plateId}"></span>
                        <span class="small" th:text="${post.views}"></span>
                        <span class="small" th:text="${post.likes}"></span>
                        <span class="small" th:text="${post.replies}"></span>
                    </div>
                </div>
            </li>
            </ul>
        </div>
        <div class="col-md-4" style="height: 300px;">
            <div class="col" style="height: 50px">
                <button type="button" class="btn btn-primary btn-block">发帖</button>
            </div>
            <div class="col" style="height: 300px">
                <div th:each="plate:${plates}">
                    <button type="button" class="btn btn-outline-primary btn-lg" th:text="${plate.plateName}"></button>
                </div>
            </div>
            <div class="col" style="background-color: #31ad9b;height: 400px">
                这是其他
            </div>
        </div>
    </div>
</div>
</body>
</html>