<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ti</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="background-color: #ffc107">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">jluanBBS</a>
        <div class="my-2 my-sm-0">
            <a href="login" class="btn btn-outline-success" role="button">登陆</a>
            <a href="registration" class="btn btn-outline-success" role="button">注册 </a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 " style="height: 900px;">
            <div class="container">
                <h3 th:text="${plate.plateName}"></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" th:each="post:${postList}">
                    <div>
                        <div>
                            <a class="mb-1" th:text="${post.postTopic}"></a>
                        </div>
                        <div>
                            <span class="small text-muted" th:text="${post.userByUserId.userName}"></span>
                            <span class="small text-muted" th:text="${post.plateByPlateId.plateName}"></span>
                            <span class="small text-muted" th:text="查看+${post.views}"></span>
                            <span class="small text-muted" th:text="喜欢+${post.likes}"></span>
                            <span class="small text-muted" th:text="最后回复+${post.replies}"></span>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4" style="height: 300px;">
            <div class="col" style="height: 50px">
                <a th:href="@{addNewPost}" class="btn btn-primary btn-block" role="button">发帖</a>
            </div>
            <div class="col" style="height: 300px">
                <button type="button" class="btn btn-outline-info btn-block disabled">板块</button>

                <tr th:each="plate:${plateList}">
                    <td>
                        <a th:href="@{'/plate/'+${plate.plateId}}" class="btn btn-outline-success" role="button"
                           th:text="${plate.plateName}"></a>

                    </td>
                </tr>
            </div>
        </div>

    </div>
</div>
</body>
</html>