<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JluanBBS</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="background-color: #ffc107" data-th-replace="fragments/navigator::nav">
</div>

<div>
    <form th:action="@{/editPost}" th:object="${post}" method="post">
        <div class="form-group" style="margin-top: 30px">
            <label for="theme" style="margin-left: 20px">主题：</label>
            <textarea type="text" th:field="*{postTopic}" th:placeholder="${post.postTopic}" class="form-control" id="theme" style="width: 80%; margin: 10px auto auto 20px" ></textarea>
        </div>
        <div class="form-group">
            <label for="content" style="margin-left: 20px">发帖内容：</label>
            <textarea  th:field="*{postCont}" th:placeholder="${post.postCont}" class="form-control" id="content" rows="3"style="width: 80%;margin: 10px auto auto 20px"></textarea>
        </div>
        <div class="form-group">
            <textarea hidden th:field="*{plateId}" th:placeholder="${post.plateId}" class="form-control" id="plateId" ></textarea>
            <textarea hidden th:field="*{postId}" th:placeholder="${post.postId}" class="form-control" id="postId" ></textarea>
            <textarea hidden th:field="*{userId}" th:placeholder="${post.userId}" class="form-control" id="userId" ></textarea>
            <input hidden th:field="*{isPicked}" th:value="0">
            <input hidden th:field="*{ispost}" th:value="0">

        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 25px">更改</button>

    </form>
</div>
</body>
</html>