<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JluanBBS</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<h3>Spring Boot and Thymeleaf, part 2 - forms</h3>
<h4>Title:</h4>
<p th:text="${topic}" />
<h4>Plate:</h4>
<p th:text="${plate}" />
<h4>Content:</h4>
<p th:text="${content}" />
</body>
</html>